@import "tailwindcss";

@theme {
    --font-orbitron: "Orbitron", sans-serif;
    --color-item: rgba(0, 0, 0, 0.65);
    --animate-open-menu: open-menu 0.5s ease-in-out forwards;

    @keyframes open-menu {
        0% {
            transform: scaleY(0);
        }
        80% {
            transform: scaleY(1.2);
        }
        100% {
            transform: scaleY(1);
        }
    }
}
